/* ----- Number 1 ----- */
html {
  scroll-snap-type: y;
}

section {
  position: sticky;
  top: 0;
  scroll-snap-align: start;
  min-block-size: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

section:nth-of-type(even) {
  color: hsl(320 80% 90%);
  background: hsl(320 80% 40%);
  z-index: 1;
}

section:nth-of-type(odd) {
  color: hsl(290 80% 90%);
  background: hsl(290 80% 40%);
  z-index: 1;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
  z-index: 1;
}

/* ----- Number 2 ----- */
/* body {
    margin: 0;
    padding: 0;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  .section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
  }
  .section:nth-child(1) {
    background: url(https://cdn.pixabay.com/photo/2014/09/05/18/32/old-books-436498_960_720.jpg);
  }
  .section:nth-child(2) {
    background: url(https://cdn.pixabay.com/photo/2015/06/02/12/59/narrative-794978_960_720.jpg);
  }
  .section:nth-child(3) {
    background: url(https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg);
  }
  .section:nth-child(3) {
    background: url(https://cdn.pixabay.com/photo/2015/12/19/20/32/paper-1100254_960_720.jpg);
  }
  .section:nth-child(4) {
    background: url(https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg);
  }
  .section:nth-child(5) {
    background: url(https://cdn.pixabay.com/photo/2014/05/03/00/46/notebook-336634_960_720.jpg);
  } */

/* ----- Indicator Box ----- */
/* .indicator-box {
    background-color: aqua;
  } */
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: lightblue;
  color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----- getBoundingClientRect() MDN Docs Example ----- */
/* div#example {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 50px auto;
    background: purple;
  }
  
  body {
    padding-bottom: 1000px;
  }
  p {
    margin: 0;
  } */
